@import "common.less";

.footerContainer {
    position: relative;
    margin: 32px 0px 24px 0px;

    @media @layout-twoColumn {
        margin: 32px 16px 24px 16px;
    }
}
.copyrightLine1, .copyrightLine2 {
    .subtitle();
    margin: 0px 16px;

    @media @layout-twoColumn {
        margin: 0px;
    }
}
.copyrightLine1 {
    color: @pri-fg-color;
}
.copyrightLine2 {
    color: @sec-fg-color;
}