// imports
@import "common.less";
@import "header.less";
@import "smallHeader.less";
@import "home.less";
@import "details.less";
@import "footer.less";

// core styles
body {
    background-color: @bg-color;
    margin: 0px;
    padding: 0px;
}
p {
    margin: 0px;
    padding: 0px;
}
ul {
    margin: 0px;
}