// variables
@fonts: '../fonts';
@bg-color: #d6d6d9;
@pri-fg-color: #273a41;
@sec-fg-color: #486e7e;
@ter-fg-color: #93a3ae;
@accent-color: #ffc71a;
@contrast-color: #f4f4f4;

// layouts
@layout-narrow: ~"(max-width: 430px)";

// fonts
@font-face {
    font-family: 'bebas';
    src: url('@{fonts}/bebasneue_regular-webfont.woff2') format('woff2'),
         url('@{fonts}/bebasneue_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas';
    src: url('@{fonts}/bebasneue_bold-webfont.woff2') format('woff2'),
         url('@{fonts}/bebasneue_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'bender';
    src: url('@{fonts}/bender_bold-webfont.woff2') format('woff2'),
         url('@{fonts}/bender_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

.bebasRegular {
    font-family: 'bebas';
    font-weight: normal;
}
.bebasBold {
    font-family: 'bebas';
    font-weight: bold;
}
.benderBold {
    font-family: 'bender';
    font-weight: bold;
}

// text styles
.title {
    .bebasBold;
    font-size: 2.25em;
}
.subtitle {
    .benderBold;
    font-size: 0.95em;
}

// core styles
body {
    background-color: @bg-color;
    margin: 0px;
    padding: 0px;
}
p {
    margin: 0px;
    padding: 0px;
}
ul {
    margin: 0px;
}

// component styles
.headerContainer {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAMAAABFaP0WAAAABlBMVEX////09PQtDxrOAAAAAXRSTlMAQObYZgAAAA5JREFUCNdjYGBkYGQEAAANAASMpCjAAAAAAElFTkSuQmCC);
    height: 160px;
    padding: 0px 32px;
    position: relative;

    @media @layout-narrow {
        padding: 0px 16px;
    }
}

.dateContainer {
    background-color: @accent-color;
    text-align: center;
    float: right;
    width: 64px;

    @media @layout-narrow {
        padding: 8px 0px 2px 0px;
    }
}
.dateMonth {
    .subtitle;
    text-transform: uppercase;
    color: @pri-fg-color;
    margin: 8px 0px -4px 0px;

    @media @layout-narrow {
        margin: 0px 4px 0px 0px;
        display: inline-block;
    }
}
.dateDay {
    .bebasRegular;
    font-size: 3.375em;
    color: @pri-fg-color;

    @media @layout-narrow {
        .subtitle;
        display: inline-block;
    }
}
.dateEdge {
    width: 0;
    height: 0;
    border-style: solid;
    margin-bottom: -10px;

    @media @layout-narrow {
        display: none;
    }
}
.dateEdgeLeft {
    .dateEdge;
    border-width: 10px 32px 0 0;
    border-color: @accent-color transparent transparent transparent;
}
.dateEdgeRight {
    .dateEdge;
    border-width: 0 32px 10px 0;
    border-color: transparent @accent-color transparent transparent;
    float: right;
}

.headerTextContainer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.headerLine1 {
    .bebasRegular;
    font-size: 2.25em;
    color: @sec-fg-color;
}
.headerLine2 {
    .bebasRegular;
    font-size: 5em;
    line-height: 0.9em;
    color: @pri-fg-color;
}

.groupHeader {
    .title;
    color: @pri-fg-color;
    margin: 32px 0px 0px 16px;
}
.groupHeaderSeparator {
    height: 4px;
    background-image: linear-gradient(-45deg,
        @sec-fg-color 25%, transparent 25%,
        transparent 50%, @sec-fg-color 50%,
        @sec-fg-color 75%, transparent 75%, transparent);
    background-size: 4px 4px;
    margin: 0px 16px 16px 16px;
}

.advisorContainer {
    padding: 24px 16px;
    margin-top: 8px;
    background-size: cover !important;
    background-position: center center !important;
}
.advisorIcon {
    width: 64px;
    height: 64px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    @media @layout-narrow {
        display: none;
    }
}
.advisorContentContainer {
    margin: -64px 0px 0px 80px;

    @media @layout-narrow {
        margin: 0px;
    }
}
.advisorType {
    .subtitle;
    text-transform: uppercase;
    color: @ter-fg-color;
}
.advisorName {
    .title;
    color: @contrast-color;
    line-height: 0.9em;
    margin: 4px 0px;
}
.advisorTimeRemaining {
    .subtitle;
    color: @accent-color;
    float: right;
    margin-left: 16px;
}
.advisorSeparator {
    height: 4px;
    background-image: linear-gradient(-45deg,
        @ter-fg-color 25%, transparent 25%,
        transparent 50%, @ter-fg-color 50%,
        @ter-fg-color 75%, transparent 75%, transparent);
    background-size: 4px 4px;
    opacity: 0.5;
    margin: 4px 0px;
}

.advisorModifiers {
    margin: 0px -16px 0px 0px;
    padding: 0px;
    list-style-type: none;
    
    @media @layout-narrow {
        margin: 0px -8px 0px 0px;
    }
}
.advisorModifiers li {
    .subtitle;
    display: inline-block;
    width: 92px;
    margin: 8px 32px 0px 0px;
    vertical-align: top;
    color: @contrast-color;
    
    @media @layout-narrow {
        width: 20.5px;
        margin: 8px 8px 0px 0px;
    }
}
.advisorModifiers li img {
    width: 20.5px;
    height: 20.5px;
    margin-right: 8px;
}
.advisorModifiers li p {
    margin: -24px 0px 0px 28px;
    
    @media @layout-narrow {
        display: none;
    }
}

.advisorItems {
    margin: 0px -8px 0px 0px;
    padding: 0px;
    list-style-type: none;
}
.advisorItems li {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 8px 8px 0px 0px;
    border: 3px @contrast-color solid;
    color: @contrast-color;
    
    @media @layout-narrow {
        width: 32px;
        height: 32px;
        border: 2px @contrast-color solid;
    }
}
.advisorItems li img {
    width: 48px;
    height: 48px;
    
    @media @layout-narrow {
        width: 32px;
        height: 32px;
    }
}